html,
body {
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
}
body * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #8C6A14;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed gold;
  text-decoration: underline;
}
