html,
body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
body * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible,
div:focus-visible,
svg:focus-visible,
span:focus-visible {
  box-shadow: 0 0 0 6px black;
  outline: 3px solid #fece07;
  text-decoration: underline;
  z-index: 99;
}

::selection {
  background: #fece07;
  color: black;
}

::-moz-selection {
  background: #fece07;
  color: black;
}
