html,
body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
body * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:focus {
  border: 2px inset #1565c0; /* green */
  display: inline-block;
  outline: 2px outset # /* blue */
  text-decoration: underline;
}
